@import url("https://raw.githubusercontent.com/Augenbl1ck/Discord-Styles/refs/heads/main/compactUserinfo.css");
@import url("https://blade04208.github.io/css/smolprofile.css");
@import url("https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css");
@import url("https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/PopoutsRevamped/PopoutsRevamped.css");
@import url("https://raw.githubusercontent.com/HeroOfDungeon/snippets/refs/heads/main/More%20Animations.css");
@import url("https://blade04208.github.io/css/aerotitlebuttons.css");
@import url("https://blade04208.github.io/css/smolprofile.css");
@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
@import url("https://ukriu.github.io/cssCord/Other/gradientDM.css");
@import url("https://github.com/OBS-Akuma/assets/raw/refs/heads/main/Glitchy/Emojikisser.css");
@import url("https://github.com/OBS-Akuma/assets/raw/refs/heads/main/Glitchy/Bacecss.css");
[data-list-item-id*="message"],
[class*="messageListItem"],
[id*="message-"],
li[class*="messageListItem"] {
    position: relative;
    border-radius: var(--wave-border-radius);
    transition: all 0.3s ease;
}
[data-list-item-id*="message"]:hover,
[class*="messageListItem"]:hover,
li[class*="messageListItem"]:hover {
    transform: translateX(6px);
}
.winButton_c38106 {
    position: relative !important;
    background-color: transparent !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.winButtons_c38106 {
    gap: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.winButton_c38106 svg {
    opacity: 0 !important;
    display: none !important;
}

.winButton_c38106::before {
    content: "" !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold !important;
    width: 14px !important;
    height: 14px !important;
    transition: color 0.3s ease, text-shadow 0.7s ease, transform 0.7s ease-in-out, filter 0.7s ease !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
}


.winButtonClose_c38106::before {
    content: "✖" !important;
    color: #d83a42 !important; /* Red color */
    top: 53% !important;
    font-size: 20px !important;
    left: 50% !important;
    font-weight: normal !important; /* Fixed weight */
    text-shadow: 0 0 3px #d83a42 !important; /* Light outline for stability */
    will-change: transform !important; /* Optimization for animation */
    transform: translate(-50%, -50%) !important;
}

.winButtonClose_c38106:hover::before {
    color: #d83a42 !important; /* Brighter red on hover */
    text-shadow: 
    0 0 5px #ff3b44cc,
    0 0 10px #ff3b4499,
    0 0 15px #ff3b4480,
    0 0 20px #ff3b4466,
    0 0 25px #ff3b444d,
    0 0 30px #ff3b4433 !important;
    filter: brightness(1.1) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important; /* Rotation animation */
}

.winButtonMinMax_c38106:nth-child(1)::before {
    content: "⚋" !important;
    color: #faa61a !important; /* Yellow color */
    top: 55% !important;
    font-size: 20px !important;
    left: 50% !important;
    -webkit-text-stroke: 0.5px #faa61a !important; /* Fix outline */
    text-rendering: geometricPrecision !important;
    will-change: transform !important; /* Optimization for animation */
    text-shadow: 0 0 3px #faa61a !important; /* Light outline for stability */
}

.winButtonMinMax_c38106:nth-child(1):hover::before {
    color: #faa61a !important;
    text-shadow: 
        0 0 5px #faa61a,
        0 0 10px #b3760f,
        0 0 15px #c98105,
        0 0 20px #b17307,
        0 0 25px #996606b6,
        0 0 30px #9663059a !important;
    filter: brightness(1.2) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
}

.winButtonMinMax_c38106:nth-child(2)::before {
    content: "⛶" !important;
    color: #23a55a !important; /* Green color */
    top: 55% !important;
    font-size: 20px !important;
    left: 50% !important;
    -webkit-text-stroke: 0.5px #23a55a !important; /* Fix outline */
    text-rendering: geometricPrecision !important;
    will-change: transform !important; /* Optimization for animation */
    text-shadow: 0 0 3px #23a55a !important; /* Light outline for stability */
}

.winButtonMinMax_c38106:nth-child(2):hover::before {
    color: #2ecc71 !important;
    text-shadow: 
        0 0 5px #2ecc71cc,
        0 0 10px #2ecc7199,
        0 0 15px #2ecc7180,
        0 0 20px #2ecc7166,
        0 0 25px #2ecc714d,
        0 0 30px #2ecc7133 !important;
    filter: brightness(1.2) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
}


:root {
  /* Always visible roles -> Max 8; Min 1 */
  --row: 1;
  /* Maximum of lines in About Me -> Max 11; Min 1 */
  --max-lines: 11;
  /* "View Full Bio" Button -> Default: none */
  --show-profile-text: none;
  /* Delay the hover animation. Default: 0.25s */
  --delay-t: 0.25s;
  /* Animation speed. Default: 0.45s */
  --anim-time: 0.45s;
}
.form_f75fb0 {
	padding: 8px 16px 8px 8px;
	display: flex;
	flex-direction: column-reverse;
	border-top: 1px solid var(--border-subtle);
	background-color: var(--background-primary);

	.typing_b88801 {
		position: relative;
		width: 100%;
		left: 0px;
		top: 0px;

		.dots__5ad89 {
			display: none;
		}
	}

	.channelBottomBarArea_f75fb0 {

		.channelAppLauncher_e6e74f {
			display: none;

			.button_e6e74f {
				width: 34px;
				height: 34px;

				.contents__201d5 .lottieIcon__5eb9b {
					width: 16px !important;
				}
			}
		}

		.channelTextArea_f75fb0 {
			margin: 0 !important;
			padding: 0 !important;
			display: flex;
			flex-direction: column;
			align-items: end;
			gap: 0px;
			overflow: visible !important;
			border: none;
			background: transparent !important;

			.stackedBars__74017 {
				width: 100%;
				border-radius: var(--radius-sm);

				.clipContainer__841c8 {
					border-radius: var(--radius-sm);
					min-height: 34px;
				}
			}

			.scrollableContainer__74017 {
				background: none;
				width: calc(100% + 8px);
				align-items: end;
				overflow: visible !important;
				overflow-y: scroll !important;
				min-height: calc(100% + 4px);

				.inner__74017 {
					border-radius: var(--radius-sm);
					padding: 0px;
					gap: 4px;
					align-items: flex-end;
					overflow: visible !important;

					.attachWrapper__0923f {
						height: 34px;
						width: 34px;
						align-self: flex-end;

						.attachButton__0923f {
							width: 34px;
							height: 34px;
							justify-self: end;
							padding: 0px !important;

							.attachButtonInner__0923f svg {
								width: 16px !important;
							}

							&:hover {
								background-color: var(--gnome-button-hover-background);
							}
						}
					}

					.buttons__74017 {
						gap: 4px;
						width: fit-content;
						height: 34px;
						margin-right: 4px;

						.expression-picker-chat-input-button,
						.button__201d5 {
							height: 34px;
							width: 34px;
							border-radius: var(--radius-sm);
							transition: background 0.2s;
							margin: 0px;

							.contents__201d5 .lottieIcon__5eb9b,
							.buttonWrapper__24af7 svg,
							.spriteContainer__04eed {
								width: 16px !important;
								height: 16px !important;
								--custom-emoji-sprite-size: 16px !important;
							}

							&:hover {
								background-color: var(--gnome-button-hover-background);
							}
						}

						.separator_aa63ab {
							display: none;
						}

						.container_aa63ab>.buttonContainer_aa63ab>.button_aa63ab {
							border-radius: 50%;
							background-color: var(--brand-500);
							transition: opacity 0.2s;

							.contents__201d5 {
								margin-left: 0px;

								.buttonChild_aa63ab {
									color: var(--interactive-normal);
								}
							}

							&[disabled] {
								opacity: 0.5;
							}
						}
					}

					.textArea__74017 {
						min-height: 34px !important;
						align-content: end;
						height: 34px;
						background-color: var(--background-tertiary);
						border-radius: var(--radius-sm);

						.placeholder__1b31f {
							padding: 6px 0px;
						}

						.editor__1b31f {
							padding: 6px;
							min-height: 20px;
							border-radius: var(--radius-sm);
							box-sizing: border-box;
							margin-left: 0px !important;

							>div {
								min-height: 22px;
							}
						}
					}
				}

				&::-webkit-scrollbar {
					width: 0px !important;
				}
			}

			.floatingBars__74017 {
				min-height: 0px;
				margin-bottom: 0px;
			}
		}
	}

	&:has(.innerDisabled__74017) {
		display: none;
	}

	.wrapper__44df5 {
		margin: 0px;
		background-color: transparent;
	}
}

.scrollerSpacer__36d07 {
	height: 24px;
}

:root {
    --animation-speed: 0.1s;
}
:root {
  /* change clan tag position */
  --tag-order: 0; /* -1 = before username | 0 = default | 1 = after badges */
  /* custom status bar */
  --status-enabled: false; /* accepted values: true | false */
  /* background banner */
  --background-width: half; /* accepted values: full | half */
  /* right side gradient */
  --right-gradient: false; /* accepted values: true | false */
  /* show notes section */
  --show-notes: true; /* accepted values: true | false */
  /* role pills */
  --rolepills: true; /* accepted values: true | false */
  /* connections */
  --connections: true; /* accepted values: true | false */
  /* dark/light adjustements */
  --theme-is: dark; /* accepted values: dark | light */
  /* connection shadows */
  --shadows: true; /* accepted values: true | false */
  /* bring twitter back */
  --replace-x: true; /* accepted values: true | false */
}
/* reduce context menu padding */
.layer_da8173 > .menu_c1e9c4 {
    min-width: 0;
    width: 171px !important;
    .scroller_c1e9c4 {
        /* border margin */
        margin: -4px;
    }
    .separator_c1e9c4 {
        /* separator margin */
        margin: 1px 8px !important;
    }
    .wrapper_f563df {
        /* reactions margin */
        padding: 0px !important;
        margin: 1px;
    }
    .item_c1e9c4 {
        /* min-height is 32px as default, change value for desired look */
        min-height: 0;
        /* padding is 4px 8px as default, change value for desired look */
        padding: 4px 8px;
    }
    .icon_f563df {
        /* reactions size */
        width: 18px;
    }
    .button_f563df {
        /* reactions border size */
        width: 36px;
        height: 36px;
        border-radius: 4px;
    }
    .icon_c1e9c4 {
        /* icons size */
        width: 18px;
        height: 18px;
    }
    .iconContainer_c1e9c4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
:root {
    --custom-app-top-bar-height: 22px
}
[class^=bar] {
    padding: unset;
    > [class^=title] {
        position: relative;
        padding-left: 8px;
        > [class^=title] > [class^=icon] {
            height: 16px;
            width: 16px;
        }
    }
    > [class^=trailing] {
        gap: unset;
        > [class^=recentsIcon] {
            &:hover {
                background-color: var(--background-modifier-hover);
                color: var(--interactive-hover);
            }
            > [class^=button] {
                height: 16px;
                width: 16px;
                padding: 3px 12px;
                > [class^=iconBadge] {
                     bottom: 2px;
                     right: 11px;
                }
            }
        }
        > a[href="https://support.discord.com"] {
            display: none;
        }
        > [class^=button]
        {
            height: 16px;
            width: 16px;
            padding: 3px 12px;
            &:hover
            {
                background-color: var(--background-modifier-hover);
                color: var(--interactive-hover);
            }
        }
        > [class^=winButtons] {
            gap: unset;
            > [class^=winButton] {
                width: calc(var(--custom-app-top-bar-height) * 2);
            }
        }
    }
}
.sidebarRegion__23e6b {
  flex: none;
}
.contentColumn__23e6b, .customColumn__23e6b {
    max-width: 100%;
    min-height: 100%;
}
.accountProfileCard__1fed1 .mask__68edb mask circle {
  display: none;
}
.avatar__1fed1 {
  top: 210px;

}
[class^=appMount] > [class^=bar] {
    display: none;
}
[class^=bar] {
    z-index: 3001;
}
[class^=layers] > [class^=layer] {
    opacity: unset !important;
    padding-top: unset;
    top: 0;
    background:
}
[class^=layerContainer] > [class^=backdrop] {
    top: var(--custom-app-top-bar-height);
    height: calc(100% - var(--custom-app-top-bar-height));
}
[class*=trapClicks] {
    pointer-events: none !important;
}
.typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 12px;
    &::after {
      color: var(--text-secondary);
      font-weight: 500;
    }
    &:last-child::after {
      content: " is yapping...";
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "Several people are yapping...";
  }
}
.member__5d473 {
    height: 32px!important;
    padding: var(--space-xxs) var(--space-xs);
    margin: calc(var(--space-xxs) / 2) var(--space-xxs);
        &:hover {
        background: var(--bg-overlay-hover, var(--background-modifier-hover));
    }
}

.memberInner__5d473, .childContainer__91a9d {
    padding: 0px!important;
    display: flex!important;
    align-items: center!important;
    align-content: center!important;
    max-width: 100%;
}

.avatar__91a9d {
    scale: 0.75;
    margin-right: 4px;
}

.content__91a9d {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
}

.memberInner__5d473 {
    position: absolute;
    top: calc(0px - var(--space-xxs) / 3);
    left: var(--space-xxs);
    max-width: calc(100% - var(--space-sm));

}

.membersGroup_c8ffbb {
    padding: var(--space-xs) var(--space-xxs) var(--space-xs) var(--space-sm)!important;
}
form > div.focusLock__49fc1 > div.rootWithShadow__49fc1 {
    background-color: color-mix(in srgb, transparent 50%, var(--modal-background));
    .horizontalReverse__7c0ba {
        background-color: color-mix(in srgb, transparent 50%, var(--modal-footer-background))
    }
    .input__0f084 {
        background-color: color-mix(in srgb, transparent 50%, var(--input-background));
    }
}
.iconContainerWithGuildIcon__2ea32 {
    .icon__2894c {
        margin-left: 0px;
        margin-top: 0px;
        width: 20px;
        height: 20px;
        background: none !important;

        >path {
            filter: drop-shadow(-1px 0 0px var(--background-base-lowest)) drop-shadow(1px 0 0px var(--background-base-lowest)) drop-shadow(0px 1px 0px var(--background-base-lowest)) drop-shadow(0px -1px 0px var(--background-base-lowest));
        }
    }

    .svg__2338f {
        position: absolute;
        top: -6px;
        left: -10px;
        overflow: visible !important;
        width: calc(28px + var(--space-xxs) + var(--space-xxs));
        height: calc(28px + var(--space-xxs) + var(--space-xxs));
        contain: none;

        foreignObject {
            mask: none !important;
            overflow: hidden !important;
            border-radius: var(--radius-sm) 0 0 var(--radius-sm) !important;
            width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;

            .channelGuildIcon__2894c {
                position: absolute;
                top: calc(0px - var(--space-xxs) - var(--space-xxs));
                width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
                height: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
                mask-image: linear-gradient(to right, black 0%, transparent 100%);
                border-radius: 0px !important;
            }
        }


    }
}

.modeSelected__2ea32 .iconWithGuildIcon__2ea32 {
    color: var(--header-primary)
}
.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}
form>div.focusLock__49fc1>div.rootWithShadow__49fc1 {
    width: var(--modal-width-medium);

    .header__49fc1 {
        padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
        margin-bottom: var(--modal-vertical-padding);
        border-bottom: var(--border-normal) solid 1px;

        .colorHeaderPrimary_c9946a {
            text-align: center;
            font-weight: var(--font-weight-semibold);
            flex-grow: 1;
        }

        .closeButton_e858dd {
            top: unset;
            right: var(--modal-horizontal-padding);
            margin-bottom: auto;
            margin-top: auto;

            .contents__201d5 {
                height: 24px;
            }
        }
    }

    .submissionWarning_e858dd {
        display: none;
    }

    .formItem__1b11b .eyebrow_b717a1 {
        margin-bottom: 4px;

        .errorMessage_b717a1 {
            color: var(--text-danger);
        }
    }

    .input__0f084.error__0f084:focus {
        color: var(--text-normal);
        transition-property: border-color, color;
    }

    .footer__49fc1 {
        justify-content: space-between;
    }
}
:root {
    /* change padding of the bar */
    --rscb-chat-box-padding: 8px; /* default is 8px for alignment */
    /* Whether you want the chat to not move up *\
    \*    and down when someone starts typing   */
    --rscb-no-jump-chat: 0;
     /* Whether you want the messages to clip through *\
     \*  the gap between slowmode and typing people   */
     --rscb-clip-chat-through-typing-bar: 0;
}
/* Collapsible sidebars */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 { display: none }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url(https://raw.githubusercontent.com/Vencord/Vesktop/refs/heads/main/static/shiggy.gif);
        image-rendering: pixelated;
         align-content: center;
         scale: 3.125;
         margin-bottom: 96px;
    }
}
:root {
    --list-item-transition: 0.2s ease;
}
.wrapper__2ea32 .link__2ea32 {
    transition: margin-left var(--list-item-transition);
}
.wrapper__2ea32:hover .link__2ea32 {
    margin-left: 10px;
}
.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: var(--list-item-transition);
}
.wrapper__2ea32:hover .unread__2ea32 {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: 3px;
    background-color: transparent;
    background: url('https://github.com/OBS-Akuma/assets/blob/main/Glitchy/popcorn.png?raw=true');
    background-size: 12px;
    background-position: center;
}
/* Remove Nitro tenure tooltip bloat */
[class^="tooltipContainer_"]:has([class^="tooltipWordmarkContainer_"]) {
    padding: initial;
    & img, h1, h2, [class^="tooltipWordmarkContainer_"] { display: none; }
    
    & [class*="tooltipDescription_"] {
        color: inherit!important;
        font: inherit;
        margin: inherit;
        /* text-transform: lowercase;
        &:after, &:before { text-transform: initial; } */
        &:before { content: "Nitro "; }
    }
    & [src="/assets/242f4d0069d97414.svg"] ~ div:after { content: " (Bronze)" }
    & [src="/assets/a28ccbd2a55e8413.svg"] ~ div:after { content: " (Silver)" }
    & [src="/assets/45bb84c5fd852085.svg"] ~ div:after { content: " (Gold)" }
    & [src="/assets/d343a0b3439e81d1.svg"] ~ div:after { content: " (Platinum)" }
    & [src="/assets/bb018f1613e8d528.svg"] ~ div:after { content: " (Diamond)" }
    & [src="/assets/11a893d07ab86fe4.svg"] ~ div:after { content: " (Emerald)" }
    & [src="/assets/2801bd9ef48c1d87.svg"] ~ div:after { content: " (Ruby)" }
    & [src="/assets/c20bd44dcc3b5ecb.svg"] ~ div:after { content: " (Opal)" }
}
.role_dfa8b6.pill_dfa8b6 {
    position: relative;
    background: none;
    border: none;
    padding-left: 28px;
}

.role_dfa8b6.pill_dfa8b6 > span {
    z-index: 1;
}

.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 !important;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
    margin: 6px 8px;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: var(--radius-xs);
    filter: brightness(1.1);
    opacity: 0.25;
}
[class^="iconContainerWithGuildIcon"] {
    > svg:not([class^=icon]) {
        transform: translateY(2px);
        > * {
            mask: unset;
        }
    }
    > [class^=icon] {
        display: none;
    }
}

[class*=dm_]:has([class*=muted_]) {
    display: none;
}
[class^=chat_] [class*=textArea_] {
  margin-right: 32px;
  +[class^=buttons_] {
    position: absolute;
    right: 0;
    background-color: color-mix(in oklab, var(--chat-background-default) 0%, transparent);
    backdrop-filter: blur(3px);
    border-radius: 8px 0 0 8px;
    &:hover {
      box-shadow: 0 0 8px #0003;
    }
    &:not(:hover)>:not(:last-child) {
      display: none;
    }
  }
}
[data-list-item-id*="_get-premium"] {
  display: none;
}
[class*="menuDivider_"]:has(+[data-list-item-id*="_get-premium"])
 {
  display: none;
}
[class*='result_'] [class*='favButton'] {
    right: unset;
}
:root {
    --gDM-online: linear-gradient(to right, rgb(68, 105, 68) , transparent);
    --gDM-offline: linear-gradient(to right, rgb(66, 66, 66) , transparent);
    --gDM-dnd: linear-gradient(to right, rgb(130,70,70) , transparent);
    --gDM-idle: linear-gradient(to right, rgb(135, 105, 75) , transparent);
    --gDM-streaming: linear-gradient(to right, rgb(63, 33, 88) , transparent);
    --gDM-border-radius: 12px;
}
